<div class="grid">
  <video-embedder
    selected-video="$ctrl.state.selectedVideo.id"
  ></video-embedder>
  <video-list
    video-list="$ctrl.state.videoList"
    selected-video="$ctrl.state.selectedVideo.id"
    selection-made="$ctrl.state.setSelectedVideo(video)"
  ></video-list>
  <view-stats views="$ctrl.state.filteredViews"></view-stats>
  <view-filter></view-filter>
</div>
<button class="btn" ng-click="$ctrl.addVideo()">Add Video</button>
<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
  }
  video-embedder {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  video-list {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  view-filter {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  view-stats {
    grid-column: 2 / 3;
    grid-row: 2 /3;
  }
</style>
