<input ng-model="$ctrl.query.title" />
<ul>
  <li
    ng-repeat="video in $ctrl.videoList | filter:$ctrl.query"
    ng-click="$ctrl.selectVideo(video)"
    ng-style="{ color: $ctrl.selectedVideo === video.id ? 'red' : 'inherit' }"
  >
    {{ video.title }}
  </li>
</ul>
