<select ng-model="$ctrl.filter.region">
  <option value="All">All</option>
  <option value="North America">North America</option>
  <option value="Europe">Europe</option>
  <option value="Asia">Asia</option>
</select>
{{ $ctrl.filter | json }}
<button ng-click="$ctrl.state.setFilter($ctrl.filter)">Filter</button>
